#header{
  display: flex;
  padding: 10px 10px 10px 10px;
  height: 55px;
  border-bottom: 1px solid #eee;
}
#header .mui-search {
  margin-right: 10px;
  flex: 1;
  box-sizing: border-box;
  position: relative;
  background: #e6e6e6;
  border-radius: 3px;
}
#header .search-input{
  border: 0;
  background-color: rgba(230, 230, 230, 0);
  padding: 10px 10px 10px 40px;
  line-height: 20px;
  font-weight: 500;
  height: 100%;
  font-size: 14px;
  caret-color: #007aff;
}
#header .mui-pull-right{
  height: 35px;
  line-height: 35px;
  font-size: 27px;
  color: #919191;
}
#header .mui-search .left-icon{
  position: absolute;
  left: 10px;
  height: 30px;
  font-size: 22px;
  top: 7px;
  color: #8f8f8f;
}
#main{
padding: 55px 0 50px 0;
/* height: 100vh;
overflow-y: scroll; */
}
.classify-wrap{
  width: 100%;
  overflow: hidden;
  background: white;
  padding: 15px 12px;
  display: flex;
  justify-content: space-between;
}
.classify-wrap a{
  display: block;
  text-align: center;
  /* width: 16.66%; */
}
.classify-wrap i{
  font-size: 22px;
  height: 26px;
  display: inline-block;
}
.classify-wrap .qipai{
  font-size: 26px;
  color: #5ca831;
}
.classify-wrap .youxi{
  color: #f44d44;
}
.classify-wrap .xiaoshuo{
  color: #f4b10a;
}
.classify-wrap .shiping{
  font-size: 18px;
  color: #ea34ac;
}
.classify-wrap .zhibo{
  font-size: 20px;
}
.classify-wrap .qita{
  color: #919191;
}
.classify-wrap span{
  display: block;
  width: 100%;
  font-size: 12px;
  color: #333;
}
#slider{
  /* margin: 10px 0 */
  border-top: 1px solid rgba(250, 216, 97, 0.12);
  min-height: 100px;
}
.mui-slider-indicator .mui-indicator{
  background: rgba(170, 170, 170, 0.3);
  box-shadow: none;
}
.hot-app-wrap {
  background: white;
  padding-bottom: 20px;
  min-height: 160px;
}
.hot-app-wrap h2 {
  padding: 20px 0 15px 10px;
  align-items: center;
  font-size: 15px;
}
.hot-apps{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.hot-apps .item{
  /* width: 25%; */
}
.hot-apps .item a{
  display: block;
  width: 100%;
  text-align: center;
}
.hot-apps .item img{
  width: 80%;
  max-width: 60px;
  margin-left: 10%;
  border-radius: 6px;
}
.hot-apps .item span{
  font-size: 12px;
  color: #333;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot-apps .item span.download{
  color: #007aff;
  font-weight: normal;
}
.hot-apps .item .primary-button{
  width: 46px;
  height: 24px;
  line-height: 24px;
  padding: 0px;
  font-size: 12px;
  margin: 0 auto;
}

.mui-table-view{
  /* height: 80px; */
  min-height: 80px;
}
.list-table:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  height: 1px;
  content: "";
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #e8e4e4;
}
.mui-table-view:before, .mui-table-view::after,.list-table:last-child:after{
  height: 0;
}
.mui-table-view .list-table{
  transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
  padding: 11px 15px;
  padding-right: 65px;
}
.mui-table-view .list-table:active{
  background: #eee;
}
.mui-table-view .list-table:active{
  background-color: #eee;
}
.mui-table-view .list-table a.a-cont{
  position: relative;
  display: block;
  overflow: hidden;
  margin: -11px -15px;
  padding: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  margin-right: -65px;
}
.mui-table-view .list-table h3{
  font-size: 15px;
}
.mui-table-view .list-table i{
  font-size: 12px;
  font-style: normal;
  color: #9c9c9c;
  line-height: 20px;
  display: block;
}
.mui-table-view .list-table p{
  font-size: 14px;
  color: #4f4f4f;
  margin-bottom: 0;
  overflow: hidden;
    white-space: nowrap;
}
.mui-table-view .list-table img{
  height: 60px;
  width: 60px;
  max-width: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 2px;
  margin-right: 10px;
  line-height: 42px;
  float: left;
  background-color: #fff;
}
.mui-table-view .list-table .primary-button {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 46px;
  height: 24px;
  line-height: 24px;
  padding: 0px;
  font-size: 12px;
  margin: 0;
  transform: translateY(-50%);
}
/* 底部 */
.mui-bar-tab{
  border-top: 1px solid #eee;
}
.mui-bar-tab a{
  color: #333;
  font-size: 12px;
}
.mui-bar-tab .mui-tab-item i.mui-icon{
  font-size: 18px;
}
.mui-bar-tab .mui-tab-item.paihang i.mui-icon, .mui-bar-tab .mui-tab-item.paihang span{
  color: #f4b10a;
}
.mui-bar-tab span{
  font-size: 12px;
}